/****
*****
***** CSS file for MTB
***** Creation Date: 06/06/18
***** Created By: Rajdeep barad
***** Recent Modification Date: 09/04/19
***** Modified By: Ankit Dave
***** Test Link : https://nebula-eu.kampyle.com/dig-preview/build/index.html?websiteId=109275&formId=4429&propertyType=website
***** Notes: "-";
*****
****/

@font-face {
	font-family: "MontblancType-Bold";
	src: url("https://assets.kampyle.com/clients/nebula/MTB/MontblancType-Bold.eot?#iefix") format("embedded-opentype"),url("https://assets.kampyle.com/clients/nebula/MTB/MontblancType-Bold.woff") format("woff"),url("https://assets.kampyle.com/clients/nebula/MTB/MontblancType-Bold.ttf") format("truetype");
	}
@font-face {
	font-family: "MontblancType-Regular";
src: url("https://assets.kampyle.com/clients/nebula/MTB/MontblancType-Regular.eot?#iefix") format("embedded-opentype"),url("https://assets.kampyle.com/clients/nebula/MTB/MontblancType-Regular.woff") format("woff"),url("https://assets.kampyle.com/clients/nebula/MTB/MontblancType-Regular.ttf") format("truetype");
}

/*Applying fonts here*/
#liveForm .neb-content p span span strong {
    font-family: "MontblancType-Bold" !important;
	   font-weight: normal !important;
}
#liveForm
{
	font-family: "MontblancType-Regular" !important;
}
#liveForm .neb-web-component label.commonLabel{
	font-family: "MontblancType-Regular" !important;
}
.neb-content p p span,.neb-content p p a{
	font-family: "MontblancType-Regular" !important;
}
#liveForm > div > div.live-form-content > div.modal-live-form.ng-scope > div > div > div:nth-child(2) > div > div > p > p > span > strong > span {
	font-family: Arial !important;
}
#liveForm .btn, #liveForm div > label, #liveForm div > span, #liveForm .neb-select .neb-content.native-arrow select,#liveForm .kpl_builder .kpl-thank-you .kpl-thankYouHolder .thankYouPageLogoPreviewText {
    font-family: "MontblancType-Regular" !important;
}
textarea.form-control {
	font-family: "MontblancType-Regular" !important;
}
#liveForm .kpl_builder .live-form-content .neb-select select {
	font-family: "MontblancType-Regular" !important;
}


/*color for Radio Buttons*/
.neb-content md-radio-group div.radio ._md-container ._md-on{
    background-color: black !important;
}
.neb-content md-radio-group div.radio ._md-container ._md-off{
    border: 1px solid black !important;
}
/*color for Checkboxes*/
md-checkbox ._md-icon{
    border: 1px solid black !important;
}
md-checkbox.md-checked ._md-icon{
    background-color: black !important;
}

/*Adjusting the LTR scale*/
.neb-rating-value.ng-scope{
  margin: 0.5%; 
}
.neb-mobile-web .neb-rating-value.ng-scope{
  margin: auto; 
}
.neb-spacing neb-rating .neb-rating > form{
  width: 115%;
}

.kpl-form-footer span, .kpl-form-footer a {
	display:none;
}